<div class="container">

	<div class="row">

		<div class="col-md-3">
			<div class="lead">
				<a (click)="handleListAll()"><img src="../../assets/logo.png" alt="ShopLogo" style="width:240px;height:380px;"></a>
			</div>
			<p class="lead">KATEGORIE</p>
			<div class="list-group">
				<a class="list-group-item" *ngFor="let category of categoriesList"
				   [ngClass]="{active: category === selectedCategory}"
				   (click)="handleFilterSupplementsByCategory(category)">
					{{category}}
				</a>
			</div>

			<p class="lead">PRODUCENCI</p>
			<div class="list-group">
				<a class="list-group-item" *ngFor="let producer of producersList"
				   [ngClass]="{active: producer === selectedProducer}"
				   (click)="handleFilterSupplementsByProducer(producer)">
					{{producer}}
				</a>
			</div>

		</div>


		<div class="col-md-9">

			<div class="row carousel-holder">

				<div class="col-md-12">
					<div id="imaginary_container">
						<div class="input-group stylish-input-group">
							<input type="text" class="form-control"  placeholder="Szukaj" [(ngModel)]="suppNameFilter">
							<span class="input-group-addon">
								<button type="submit">
									<span class="glyphicon glyphicon-search">
									</span>
								</button>
							</span>
						</div>
					</div>

				</div>

			</div>

			<div class="row">

				<div class="col-sm-4 col-lg-4 col-md-4" *ngFor="let supplement of supplementsList | filterName: suppNameFilter">
					<div class="thumbnail">
						<img src="./../../assets/images/{{supplement.image}}" alt="">
						<div class="caption">
							<h4><a [routerLink]="['supplement/info', supplement.name.toString()]">{{supplement.name}}</a></h4>
							{{ supplement.weight }}
							<h4 class="pull-right">{{supplement.price}} zł</h4>
							<br /> <br />
							<p>{{supplement.description}}</p>
						</div>
						<div class="ratings" *ngIf="supplement.opinions">
							<p class="pull-right">{{supplement.opinions.length}} komentarze</p>
							<p>
								<span class="glyphicon glyphicon-star" *ngFor="let star of [1,2,3,4,5]" [ngClass]="{freeStar: star > supplement.rate}"></span>
							</p>
						</div>
						<div class="ratings" *ngIf="!supplement.opinions">
							<p class="pull-right"> 0 komentarzy </p>
							<p>
								<span class="glyphicon glyphicon-star" *ngFor="let star of [1,2,3,4,5]" [ngClass]="{freeStar: star > supplement.rate}"></span>
							</p>
						</div>
					</div>
				</div>

		</div>

	</div>

</div>
<!-- /.container -->