<div class="col-md-9">
  <div class = "row">

    <div class = "ViewProductTitle">
      <h1>{{supplementInfo.name}} <span *ngIf="supplementInfo.weight">{{supplementInfo.weight}}</span></h1>
      <h2>{{supplementInfo.price}} zł</h2>
    </div>
    <div class="ViewProductRate"> Średnia ocena klientów:
		<span class="ratings">
			<span class="glyphicon glyphicon-star" *ngFor="let star of [1,2,3,4,5]" [ngClass]="{freeStar: star > supplementInfo.rate}"></span>
		</span>
	</div>

    <div class="ViewProductImgBox">
      <img src="../../assets/images/{{supplementInfo.image}}" alt="ShopLogo">
    </div>

    <div class="ViewProductDetails">
      <h4>Kategoria: <div class="ViewProductInfo">{{supplementInfo.category}}</div>  </h4>
      <h4>Producent: <div class="ViewProductInfo">{{supplementInfo.producer}}</div>  </h4>
      <h4>Ilość: <div class="ViewProductInfo">{{supplementInfo.amount}}</div>  </h4>
    </div>


    <div class="ViewProductDescription">
      <h3>Opis</h3>
      {{supplementInfo.description}}
    </div>

    <div class="ViewProductComment">
      <h3>Dodaj komentarz</h3>
	  
	  <form (ngSubmit)="onSubmit(commentForm)" #commentForm="ngForm">
		<div class="form-group">
			<span> <label for="commentRate">Ocena:</label> <rating [(ngModel)]="newOpinion.rate" name="commentRate"></rating> </span>
		</div>
		
		<div class="form-group">
		  <label for="comment">Tutaj wyraź swoje zdanie</label>
		  <textarea class="form-control" id="comment" rows="3"
			     required
			     [(ngModel)]="newOpinion.comment" name="comment"
			     #comment="ngModel"> </textarea>
		  <div [hidden]="comment.valid || comment.pristine"
			   class="alert alert-danger">
			   Napisz coś aby dodać nowy komentarz
		  </div>
		</div>
		
		<button type="submit" class="btn btn-success" [disabled]="!commentForm.form.valid ">Dodaj</button>
	  </form>
	  
    </div>

	<div class="ViewProductCommentList">
		<h2 style="color: black;">Komentarze</h2>
		<hr/>
		<div *ngIf="supplementInfo.opinions">
			<div class="comment" *ngFor="let opinion of supplementInfo.opinions">
				<span class="pull-right">{{opinion.commentDate}}</span>
				<div class="ratings">
					<span class="glyphicon glyphicon-star" *ngFor="let star of [1,2,3,4,5]" [ngClass]="{freeStar: star > opinion.rate}"></span>
				</div>
				<span>{{opinion.comment}}</span>
				<hr/>
			</div>
		</div>
		<div *ngIf="!supplementInfo.opinions">
			<div class="comment"> <h4>Brak komentarzy </h4></div>
		</div>
	</div>
   
  </div>
</div>
