<div class="col-md-9">
  <div class = "row">

    <div class = "ViewProductTitle">
      <h1>{{supplementInfo.name}} <span *ngIf="supplementInfo.weight">{{supplementInfo.weight}}</span></h1>
      <h2>{{supplementInfo.price}} zł</h2>
    </div>
    <div class="ViewProductRate"> Średnia ocena klientów:
		<span class="ratings" *ngIf="supplementInfo.opinions">
			<span class="glyphicon glyphicon-star" *ngFor="let i of supplementInfo.rate"></span>
		</span>
	</div>

    <div class="ViewProductImgBox">
      <img src="../../assets/images/{{supplementInfo.image}}" alt="ShopLogo">
    </div>

    <div class="ViewProductDetails">
      <h4>Kategoria: <div class="ViewProductInfo">{{supplementInfo.category}}</div>  </h4>
      <h4>Producent: <div class="ViewProductInfo">{{supplementInfo.producer}}</div>  </h4>
      <h4>Ilość: <div class="ViewProductInfo">{{supplementInfo.amount}}</div>  </h4>
    </div>


    <div class="ViewProductDescription">
      <h3>Opis</h3>
      {{supplementInfo.description}}
    </div>

    <div class="ViewProductComment">
      <h3>Dodaj komentarz</h3>
      <textarea></textarea>
      <div class="ViewProductButton">
        <button type="button">Wyślij</button>
      </div>
    </div>

	<div class="ViewProductCommentList">
		<h2 style="color: black;">Komentarze</h2>
		<hr/>
		<div *ngIf="supplementInfo.opinions">
		<div class="comment" *ngFor="let opinion of supplementInfo.opinions">
			<span class="pull-right">{{opinion.commentDate}}</span>
			<div class="ratings" *ngIf="supplementInfo.opinions">
				<span class="glyphicon glyphicon-star" *ngFor="let i of supplementInfo.rate"></span>
			</div>
			<span>{{opinion.comment}}</span>
			<hr/>
		</div>
		</div>
	</div>
   
  </div>
</div>
