<!-- Page Content -->
<div class="container">
	<div class="row">
		<a><img src="../../assets/AboutLogo.jpg" alt="ShopLogo" style="width:100%; "></a>
	</div>
	<div class="row">
		<h2>O nas</h2>
			<p>Sklep Alladin Supplements zajmuje się sprzedażą suplementów diety, odżywek oraz przedtreningówek. Zaopatrzenie w nim znajdą osoby trenujące wyczynowo, rekreacyjnie a także wszyscy Ci, którzy chcą zadbać o zdrowie i poprawić swój wygląd.
				Szeroki asortyment (tylko skuteczne produkty) w połączeniu z najniższymi cenami oraz fachowym doradztwem czyni nasz sklep atrakcyjnym miejscem do zakupów dla każdego. Pamiętaj, że najważniejszą częścią treningu jest motywacja!
			</p>
			<h4>W skład zespołu wchodzą:</h4>
			<p>-<strong>Krzychu</strong></p>
			<p>-<strong>Sówka</strong></p>
			<p>-<strong>Pawko</strong></p>
	</div>
	
</div>
<!-- /.container -->