<!-- liage Content -->
<div class="container">

<h3>KONTAKT TELEFONICZNY</h3>
	<hr>
	<ul class="list-unstyled">
		<li><b style="font-size: 16px">Jeśli chcesz:</b>
			<ul>
				<li>zapytać o postęp w realizacji - sprawdź status zamówienia. Zamówienia wysyłamy niemal natychmiast, natomiast nie zawsze kurier odbiera od nas tego samego dnia. Dlatego deklarujemy dostawę od 1-5 dni roboczych. Jeśli minął 1 czy 2 dni, <b>nie dzwoń.</b></li>
				<li>zapytać o dostępność produktów w określonym sklepie stacjonarnym - <b>nie dzwoń</b></li>
				<li>zapytać o status realizacji zamówienia na odbiór osobisty - <b>nie dzwoń.</b></li>
				<li>zapytać o dostępność produktów, które nie są dostępne na stronie (te które da się dodać do koszyka - są dostępne i nie trzeba tutaj potwierdzenia) - <b>nie dzwoń</b></li> 
			</ul>
		</li>
	</ul>
	<ul class="list-unstyled">
		<li><b style="font-size: 16px">Pod poniższymi numerami obsługujemy TYLKO:</b>
			<ul>
				<li>szybką modyfikację zamówień</li>
				<li>szybką anulację zamówień</li>
				<li>reklamacje</li>
				<li>22 562 17 20 - <b>Sowa - nie dzwoń</b></li>
				<li>22 100 06 95 - <b>Krzychu - nie dzwoń</b></li>
				<li>22 150 14 23 - <b>Pawko - nie dzwoń</b></li>
			</ul>
		</li>
	</ul>
</div>
<!-- /.container -->